{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Title Of Site -->
        <title>Frenzy Clothing - {{ title }}</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style-min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    </head>

    <body class="template-index index-demo1">
        <!--Page Wrapper-->
        <div class="page-wrapper">
            {% block marquee %}
            <!--Marquee Text-->
            <div class="topbar-slider clearfix">
                <div class="container-fluid">
                    <div class="marquee-text">
                        <div class="top-info-bar d-flex">
                            <div class="flex-item center">
                                <a href="#">
                                    <span> <i class="anm anm-worldwide"></i> SHOP WITH US TODAY</span>
                                    <span> <i class="anm anm-truck-l"></i> FREE NATIONWIDE SHIPPING ON ALL ORDERS ABOVE &#8358;100,000.00</span>
                                    <span> <i class="anm anm-redo-ar"></i> EXTENDED RETURN UNTIL 30 DAYS</span>
                                </a>
                            </div>
                            <div class="flex-item center">
                                <a href="#">
                                    <span> <i class="anm anm-worldwide"></i> SHOP WITH US TODAY</span>
                                    <span> <i class="anm anm-truck-l"></i> FREE NATIONWIDE SHIPPING ON ALL ORDERS ABOVE &#8358;100,000.00</span>
                                    <span> <i class="anm anm-redo-ar"></i> EXTENDED RETURN UNTIL 30 DAYS</span>
                                </a>
                            </div>
                            <div class="flex-item center">
                                <a href="#">
                                    <span> <i class="anm anm-worldwide"></i> SHOP WITH US TODAY</span>
                                    <span> <i class="anm anm-truck-l"></i> FREE NATIONWIDE SHIPPING ON ALL ORDERS ABOVE &#8358;100,000.00</span>
                                    <span> <i class="anm anm-redo-ar"></i> EXTENDED RETURN UNTIL 30 DAYS</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Marquee Text-->

            {% endblock marquee %}


            {% include 'partials/header.html' %}

            {% block content %}

            {% endblock content %}

        </div>
        <!--End Page Wrapper-->


        <!-- Including Jquery/Javascript -->
        <!-- Plugins JS -->
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <!-- Main JS -->
        <script src="{% static 'assets/js/main.js' %}"></script>
        <!--Newsletter Modal Cookies-->
        <script>
            $(window).ready(function() {
                setTimeout(function() {
                    $('#newsletter_modal').modal("show");
                }, 7000);
            });
        </script>

    </body>

</html>