{% load static %}

            <!--Top Header-->
            <div class="top-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6 col-sm-6 col-md-3 col-lg-4 text-left">
                            <i class="icon anm anm-phone-l me-2"></i><a href="tel:401234567890">+2349163691130</a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 text-center d-none d-md-block">
                            Free shipping on all orders over &#8358;50,000 <a href="{% url 'shop' %}" class="text-link ms-1">Shop now</a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 col-lg-4 text-right d-flex align-items-center justify-content-end">
                            <div class="select-wrap language-picker float-start">
                                <ul class="default-option">
                                    <li><div class="option english"><div class="icon"><img src="{% static 'assets/images/flag/english.png' %}" alt="english" width="24" height="24" /></div><span>English</span></div></li>
                                </ul>
                                <ul class="select-ul">
                                    <li><div class="option english"><div class="icon"><img src="{% static 'assets/images/flag/english.png' %}" alt="english" width="24" height="24" /></div><span>English</span></div></li>
                                    <li><div class="option arabic"><div class="icon"><img src="{% static 'assets/images/flag/arabic.png' %}" alt="arabic" width="24" height="24" /></div><span>Arabic</span></div></li>
                                    <li><div class="option english"><div class="icon"><img src="{% static 'assets/images/flag/french.png' %}" alt="french" width="24" height="24" /></div><span>French</span></div></li>
                                </ul>
                            </div>
                            <div class="select-wrap currency-picker float-start">
                                <ul class="default-option">
                                    <li><div class="option USD"><div class="icon"><img src="{% static 'assets/images/flag/usd.png' %}" alt="usd" width="24" height="24" /></div><span>USD</span></div></li>
                                </ul>
                                <ul class="select-ul">
                                    <li><div class="option USD"><div class="icon"><img src="{% static 'assets/images/flag/usd.png' %}" alt="usd" width="24" height="24" /></div><span>USD</span></div></li>
                                    <li><div class="option EUR"><div class="icon"><img src="{% static 'assets/images/flag/eur.png' %}" alt="eur" width="24" height="24" /></div><span>EUR</span></div></li>
                                    <li><div class="option GBP"><div class="icon"><img src="{% static 'assets/images/flag/gbp.png' %}" alt="gbp" width="24" height="24" /></div><span>GBP</span></div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Top Header-->

            <!--Header-->
            <header class="header d-flex align-items-center header-1 header-fixed">
                <div class="container">
                    <div class="row">
                        <!--Logo-->
                        <div class="logo col-5 col-sm-3 col-md-3 col-lg-2 align-self-center">
                            <a class="logoImg" href="{% url 'home' %}"><img src="{% static 'assets/images/logo.png' %}" alt="Whoisfr3e Clothing" title="Whoisfr3e Clothing" width="100" height="100" /></a>
                        </div>
                        <!--End Logo-->
                        <!--Menu-->
                        <div class="col-1 col-sm-1 col-md-1 col-lg-8 align-self-center d-menu-col">
                            <nav class="navigation" id="AccessibleNav">
                                <ul id="siteNav" class="site-nav medium center">
                                    <li class="lvl1"><a href="{% url 'home' %}">Home</a></li>
                                    <li class="lvl1"><a href="{% url 'shop' %}">Shop</a></li>
                                    <li class="lvl1 parent megamenu"><a href="#">Categories <i class="icon anm anm-angle-down-l"></i></a>
                                        <div class="megamenu style2">
                                            <ul class="row mmWrapper">
                                                <li class="lvl-1 col-md-6 col-lg-6">
                                                    <ul class="subLinks">
                                                        {% for category in left_categories %}
                                                        <li class="lvl-2"><a href="{% url 'category' category.name %}" class="site-nav lvl-2">{{category.name}}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                                <li class="lvl-1 col-md-6 col-lg-6">
                                                    <ul class="subLinks">
                                                        {% for category in right_categories %}
                                                        <li class="lvl-2"><a href="{% url 'category' category.name %}" class="site-nav lvl-2">{{category.name}}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                    <li class="lvl1"><a href="{% url 'exchange' %}">Exchange</a></li>
                                    <li class="lvl1"><a href="{% url 'about' %}">About Us</a></li>
                                    <li class="lvl1 parent dropdown"><a href="{% url 'contact' %}">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--End Menu-->
                        <!--Right Icon-->
                        <div class="col-7 col-sm-9 col-md-9 col-lg-2 align-self-center icons-col text-right">
                            <!--Search-->
                            <div class="search-parent iconset">
                                <div class="site-search" title="Search">
                                    <a href="#;" class="search-icon clr-none" data-bs-toggle="offcanvas" data-bs-target="#search-drawer"><i class="hdr-icon icon anm anm-search-l"></i></a>
                                </div>
                                <div class="search-drawer offcanvas offcanvas-top" tabindex="-1" id="search-drawer">
                                    <div class="container">
                                        <div class="search-header d-flex-center justify-content-between mb-3">
                                            <h3 class="title m-0">What are you looking for?</h3>
                                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="search-body">
                                            <form class="form minisearch" id="header-search" action="#" method="get">
                                                <!--Search Field-->
                                                <div class="d-flex searchField">

                                                    <div class="input-box d-flex fl-1">
                                                        <input type="text" class="input-text border-start-0 border-end-0" placeholder="Search for products..." value="" />
                                                        <button type="submit" class="action search d-flex-justify-center btn rounded-start-0"><i class="icon anm anm-search-l"></i></button>
                                                    </div>
                                                </div>
                                                <!--End Search Field-->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Search-->
                            <!--Account-->
                            <div class="account-parent iconset">
                                <div class="account-link" title="Account"><i class="hdr-icon icon anm anm-user-al"></i></div>
                                <div id="accountBox">
                                    <div class="customer-links">
                                        <ul class="m-0">
                                            {% if user.is_authenticated %}
                                                <li><a href="{% url 'dashboard' %}"><i class="icon anm anm-user-cil"></i>My Account</a></li>
                                                <li><a href="{% url 'wishlist' %}"><i class="icon anm anm-heart-l"></i>Wishlist</a></li>
                                                <li><a href="{% url 'logout' %}"><i class="icon anm anm-sign-out-al"></i>Sign out</a></li>
                                            {% else %}
                                                <li><a href="{% url 'login' %}"><i class="icon anm anm-sign-in-al"></i>Sign In</a></li>
                                                <li><a href="{% url 'signup' %}"><i class="icon anm anm-user-al"></i>Register</a></li>
                                            {% endif %}


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--End Account-->
                            <!--Wishlist-->
                            <div class="wishlist-link iconset" title="Wishlist"><a href="{% url 'wishlist' %}">
<!--                                <i class="hdr-icon icon anm anm-heart-l"></i><span class="wishlist-count">0</span>-->
                            </a></div>
                            <!--End Wishlist-->
                            <!--Minicart-->
                            <div class="header-cart iconset" title="Cart">
                                <a href="{% url 'cart' %}" class="header-cart btn-minicart clr-none"><i class="hdr-icon icon anm anm-cart-l"></i><span class="cart-count">{{ cart|length }}</span></a>
                            </div>
                            <!--End Minicart-->
                            <!--Mobile Toggle-->
                            <button type="button" class="iconset pe-0 menu-icon js-mobile-nav-toggle mobile-nav--open d-lg-none" title="Menu"><i class="hdr-icon icon anm anm-times-l"></i><i class="hdr-icon icon anm anm-bars-r"></i></button>
                            <!--End Mobile Toggle-->
                        </div>
                        <!--End Right Icon-->
                    </div>
                </div>
            </header>
            <!--End Header-->
            <!--Mobile Menu-->
            <div class="mobile-nav-wrapper" role="navigation">
                <div class="closemobileMenu">Close Menu <i class="icon anm anm-times-l"></i></div>
                <ul id="MobileNav" class="mobile-nav">
                    <li class="lvl1"><a href="{% url 'home' %}">Home</a></li>
                    <li class="lvl1"><a href="{% url 'shop' %}">Shop</a></li>
                    <li class="lvl1 parent dropdown"><a href="#">Categories <i class="icon anm anm-angle-down-l"></i></a>
                        <ul class="lvl-2">
                            {% for category in categories %}
                            <li><a href="{% url 'category' category.name %}" class="site-nav">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="lvl1 parent"><a href="{% url 'about' %}">About Us</a></li>
                    <li class="lvl1 parent"><a href="{% url 'contact' %}">Contact Us</a></li>



                    <li class="mobile-menu-bottom">
                        <div class="mobile-links">
                            <ul class="list-inline d-inline-flex flex-column w-100">
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'dashboard' %}" class="d-flex align-items-center"><i class="icon anm anm-user-cil"></i>My Account</a></li>
                                <li><a href="{% url 'logout' %}" class="d-flex align-items-center"><i class="icon anm anm-sign-in-al"></i>Sign Out</a></li>
                                {% else %}
                                <li><a href="{% url 'login' %}" class="d-flex align-items-center"><i class="icon anm anm-sign-in-al"></i>Sign In</a></li>
                                <li><a href="{% url 'signup' %}" class="d-flex align-items-center"><i class="icon anm anm-user-al"></i>Register</a></li>
                                {% endif %}
                                <li class="title h5">Need Help?</li>
                                <li><a href="tel:401234567890" class="d-flex align-items-center"><i class="icon anm anm-phone-l"></i> +2349163691130</a></li>
                                <li><a href="mailto:support@fr3e.store" class="d-flex align-items-center"><i class="icon anm anm-envelope-l"></i> support@fr3e.store</a></li>
                            </ul>
                        </div>
                        <div class="mobile-follow mt-2">
                            <h5 class="title">Follow Us</h5>
                            <ul class="list-inline social-icons d-inline-flex mt-1">
                                <li class="list-inline-item"><a href="#" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="#" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                <li class="list-inline-item"><a href="#" title="Linkedin"><i class="icon anm anm-linkedin-in"></i></a></li>
                                <li class="list-inline-item"><a href="#" title="Instagram"><i class="icon anm anm-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" title="Youtube"><i class="icon anm anm-youtube"></i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!--End Mobile Menu-->