{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}

{% block marquee %}{% endblock marquee %}

{% block content %}

            <!-- Body Container -->
            <div id="page-content">
                <!--Page Header-->
                <div class="page-header text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center">
                                <div class="page-title"><h1>Order success</h1></div>
                                <!--Breadcrumbs-->
                                <div class="breadcrumbs"><a href="{% url 'home' %}" title="Back to the home page">Home</a><span class="main-title"><i class="icon anm anm-angle-right-l"></i>Order success</span></div>
                                <!--End Breadcrumbs-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Page Header-->

                <!--Main Content-->
                <div class="container">   
                    <!--Order success-->
                    <div class="success-text checkout-card text-center mb-4 mb-md-5">
                        <i class="icon anm anm-shield-check"></i>
                        <h2>Thank you for your order!</h2>
                        <p class="mb-1">Your order will be processed immediately</p>
                        <p class="mb-1">You will receive an order confirmation email with details of your order.</p>
                        <p class="text-order badge bg-success mt-3">Order ID: {{ order.ref }}</p>
                    </div>
                    <!--End Order success-->

                    <div class="row checkout-form">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">   
                            <!--Order Summary-->
                            <div class="block order-summary">
                                <div class="block-content">
                                    <h3 class="title mb-3">Order Summary</h3>
                                    <div class="table-responsive-sm table-bottom-brd order-table"> 
                                        <table class="table table-hover align-middle mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-start">Image</th>
                                                    <th class="text-start proName">Product</th>
                                                    <th class="text-center">Qty</th>
                                                    <th class="text-center">Price</th>
                                                    <th class="text-center">Subtotal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in items %}
                                                <tr>
                                                    <td class="text-start"><a href="{% url 'product-detail' item.product.id %}" class="thumb"><img class="rounded-0 blur-up lazyload" data-src="{{item.product.cover_image.url}}" src="{{item.product.cover_image.url}}" alt="product" title="product" width="120" height="170"></a></td>
                                                    <td class="text-start proName">
                                                        <div class="list-view-item-title">
                                                            <a href="{% url 'product-detail' item.product.id %}">{{ item.product.name }}</a>
                                                        </div>

                                                    </td>
                                                    <td class="text-center">{{ item.quantity }}</td>
                                                    <td class="text-center">&#8358;{% if item.product.percentage_discount %}{{item.product.discounted_price|floatformat:2|intcomma}}{% else %}{{item.product.price|floatformat:2|intcomma}}{% endif %}</td>
                                                    <td class="text-center"><strong>&#8358;{{item.price}}</strong></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--End Order Summary-->

                            <!--Cart Summary-->
                            <div class="cart-info mt-4 mb-4 mb-lg-0">
                                <div class="cart-order-detail cart-col">
<!--                                    <div class="row g-0 border-bottom pb-2">-->
<!--                                        <span class="col-6 col-sm-6 cart-subtotal-title"><strong>Subtotal</strong></span>-->
<!--                                        <span class="col-6 col-sm-6 cart-subtotal-title cart-subtotal text-end"><span class="money">$326.00</span></span>-->
<!--                                    </div>-->
<!--                                    <div class="row g-0 border-bottom py-2">-->
<!--                                        <span class="col-6 col-sm-6 cart-subtotal-title"><strong>Coupon Discount</strong></span>-->
<!--                                        <span class="col-6 col-sm-6 cart-subtotal-title cart-subtotal text-end"><span class="money">-$25.00</span></span>-->
<!--                                    </div>-->
<!--                                    <div class="row g-0 border-bottom py-2">-->
<!--                                        <span class="col-6 col-sm-6 cart-subtotal-title"><strong>Tax</strong></span>-->
<!--                                        <span class="col-6 col-sm-6 cart-subtotal-title cart-subtotal text-end"><span class="money">$10.00</span></span>-->
<!--                                    </div>-->
<!--                                    <div class="row g-0 border-bottom py-2">-->
<!--                                        <span class="col-6 col-sm-6 cart-subtotal-title"><strong>Shipping</strong></span>-->
<!--                                        <span class="col-6 col-sm-6 cart-subtotal-title cart-subtotal text-end"><span class="money">Free shipping</span></span>-->
<!--                                    </div>-->
                                    <div class="row g-0 pt-2">
                                        <span class="col-6 col-sm-6 cart-subtotal-title fs-6"><strong>Total</strong></span>
                                        <span class="col-6 col-sm-6 cart-subtotal-title fs-5 cart-subtotal text-end text-primary"><b class="money">&#8358;{{order.total_cost}}</b></span>
                                    </div>
                                </div>                               
                            </div>
                            <!--Cart Summary-->                           
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <!--Order Address-->
                            <div class="block">
                                <div class="block-content">  
                                    <div class="row g-0">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="shipping-details mb-4 mb-sm-0">
                                                <h3 class="title mb-3">Shipping Address</h3>
                                                <p>{{order.address}},</p>
                                                <p>{{order.lga}},</p>
                                                <p>{{order.state}}</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="billing-details">
                                                <h3 class="title mb-3">Contact Details</h3>
                                                <p>{{order.first_name}} {{order.last_name}}</p>
                                                <p>{{order.email}}</p>
                                                <p>{{order.phone}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Order Address-->


                            <!--Order Details-->
                            <div class="block mt-4">
                                <div class="block-content">  
                                    <div class="row g-0">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="shipping-details mb-4 mb-sm-0">
                                                <h3 class="title mb-3">Order details</h3>
                                                <p>Order ID: {{order.ref}}</p>
                                                <p>Order Date: {{order.created_at}}</p>
                                                <p>Order Total: &#8358;{{order.total_cost}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--End Order Details-->

                            <!--Order Delivery-->
                            <div class="d-flex-wrap w-100 mt-4 text-center">
                                <a href="{% url 'shop' %}" class="d-inline-flex align-items-center btn btn-outline-primary me-2 mb-2 me-sm-3"><i class="me-2 icon an an-angle-left-r"></i>Continue Shopping</a>

                            </div>
                            <!--Order delivery-->
                        </div>
                    </div>
                </div>
                <!--End Main Content-->
            </div>
            <!-- End Body Container -->

{% endblock content %}