{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}

{% block marquee %}{% endblock marquee %}

{% block content %}


            <!-- Body Container -->
            <div id="page-content">
                <!--Page Header-->
                <div class="page-header text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center">
                                <div class="page-title"><h1>Shop</h1></div>
                                <!--Breadcrumbs-->
                                <div class="breadcrumbs"><a href="{% url 'home' %}" title="Back to the home page">Home</a><span class="title"><i class="icon anm anm-angle-right-l"></i>Shop</span></div>
                                <!--End Breadcrumbs-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Page Header-->

                <!--Main Content-->
                <div class="container">
                    {% if categories %}
                    <!--Category Slider-->
                    <div class="collection-slider-6items gp10 slick-arrow-dots sub-collection section pt-0">
                        {% for category in categories %}
                        <div class="category-item zoomscal-hov">
                            <a href="{% url 'category' category.name %}" class="category-link clr-none">
                                <div class="zoom-scal zoom-scal-nopb rounded-0"><img class="rounded-0 blur-up lazyload" data-src="{{ category.cover_image.url }}" src="{{ category.cover_image.url }}" alt="{{ category.name }}" title="{{ category.name }}" width="365" height="365" /></div>
                                <div class="details text-center">
                                    <h4 class="category-title mb-0">{{ category.name }}</h4>
<!--                                    <p class="counts">20 Items</p>-->
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <!--End Category Slider-->
                    {% endif %}

                    <!--Toolbar-->
                    <div class="toolbar toolbar-wrapper shop-toolbar">
                        <div class="row align-items-center">
                            <div class="col-4 col-sm-2 col-md-4 col-lg-4 text-left filters-toolbar-item d-flex order-1 order-sm-0">
                                <button type="button" class="btn btn-filter text icon anm anm-sliders-hr d-inline-flex me-2 me-lg-3"> Filter</button>
                                <div class="filters-item d-flex align-items-center">
                                    <label class="mb-0 me-2 d-none d-lg-inline-block">View as:</label>
                                    <div class="grid-options view-mode d-flex">
                                        <a class="icon-mode mode-list d-block" data-col="1"></a>
                                        <a class="icon-mode mode-grid grid-2 d-block" data-col="2"></a>
                                        <a class="icon-mode mode-grid grid-3 d-md-block" data-col="3"></a>
                                        <a class="icon-mode mode-grid grid-4 d-lg-block" data-col="4"></a>
                                        <a class="icon-mode mode-grid grid-5 d-xl-block active" data-col="5"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center product-count order-0 order-md-1 mb-3 mb-sm-0">
                                <span class="toolbar-product-count">Showing: 15 products</span>
                            </div>
                            <div class="col-8 col-sm-6 col-md-4 col-lg-4 text-right filters-toolbar-item d-flex justify-content-end order-2 order-sm-2">
                                <div class="filters-item d-flex align-items-center">
                                    <label for="ShowBy" class="mb-0 me-2 text-nowrap d-none d-sm-inline-flex">Show:</label>
                                    <select name="ShowBy" id="ShowBy" class="filters-toolbar-show">
                                        <option value="title-ascending" selected="selected">10</option>
                                        <option>15</option>
                                        <option>20</option>
                                        <option>25</option>
                                        <option>30</option>
                                    </select>
                                </div>
                                <div class="filters-item d-flex align-items-center ms-2 ms-lg-3">
                                    <label for="SortBy" class="mb-0 me-2 text-nowrap d-none">Sort by:</label>
                                    <select name="SortBy" id="SortBy" class="filters-toolbar-sort">
                                        <option value="featured" selected="selected">Featured</option>
                                        <option value="best-selling">Best selling</option>
                                        <option value="title-ascending">Alphabetically, A-Z</option>
                                        <option value="title-descending">Alphabetically, Z-A</option>
                                        <option value="price-ascending">Price, low to high</option>
                                        <option value="price-descending">Price, high to low</option>
                                        <option value="created-ascending">Date, old to new</option>
                                        <option value="created-descending">Date, new to old</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Toolbar-->

                    <div class="row">
                        <!--Sidebar-->


                        <!--Products-->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                            <!--Product Grid-->
                            <div class="grid-products grid-view-items">
                                <div class="row col-row product-options row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-2">
                                    {% for product in products %}

                                    <div class="item col-item">
                                        <div class="product-box">
                                            <!-- Start Product Image -->
                                            <div class="product-image">
                                                <!-- Start Product Image -->
                                                <a href="{% url 'product-detail' product.id %}" class="product-img rounded-0"><img class="" src="{{product.cover_image.url}}" alt="{{ product.name }}" title="{{ product.name }}" width="625" height="808" /></a>
                                                <!-- End Product Image -->
                                                <!-- Product label -->
<!--                                                <div class="product-labels"><span class="lbl on-sale">Sale</span></div>-->
                                                <!-- End Product label -->
                                                <!--Countdown Timer-->
<!--                                                <div class="saleTime" data-countdown="2025/01/01"></div>-->
                                                <!--End Countdown Timer-->
                                                <!--Product Button-->
                                                <div class="button-set style1">
                                                    <!--Cart Button-->
                                                    <a href="#" class="btn-icon add_to_cart_button addtocart"
                                                        data-url="{% url 'add_to_cart' %}"
                                                       data-product-id="{{ product.id }}"
                                                    >
                                                        <span class="icon-wrap d-flex-justify-center h-100 w-100" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Cart"><i class="icon anm anm-cart-l"></i><span class="text">Quick Shop</span></span>
                                                    </a>
                                                    <!--End Cart Button-->

                                                    <!--Wishlist Button-->
                                                    <a data-url="{% url 'add-remove-from-wishlist' %}" data-product-id="{{ product.id }}" class="add_to_wishlist btn-icon wishlist" data-bs-toggle="tooltip" data-bs-placement="left" title="Add To Wishlist"><i class="icon anm anm-heart-l"></i><span class="text">Add To Wishlist</span></a>
                                                    <!--End Wishlist Button-->

                                                </div>
                                                <!--End Product Button-->
                                            </div>
                                            <!-- End Product Image -->
                                            <!-- Start Product Details -->
                                            <div class="product-details text-left">

                                                <!-- Product Name -->
                                                <div class="product-name">
                                                    <a href="{% url 'product-detail' product.id %}">{{ product.name }}</a>
                                                </div>
                                                <!-- End Product Name -->
                                                <!-- Product Price -->
                                                <div class="product-price">
                                                    {% if product.percentage_discount %}
                                                        <span class="price old-price">&#8358;{{product.price|floatformat:2|intcomma}}</span><span class="price">&#8358;{{product.discounted_price|floatformat:2|intcomma}}</span>
                                                    {% else %}
                                                        <span class="price">{{product.price|floatformat:2|intcomma}}</span>
                                                    {% endif %}
                                                </div>
                                                <!-- End Product Price -->
                                                <!-- Product Review -->
                                                <div class="product-review">
                                                    <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i>
                                                    <span class="caption hidden ms-1">3 Reviews</span>
                                                </div>
                                                <!-- End Product Review -->

                                            </div>
                                            <!-- End product details -->
                                        </div>
                                    </div>

                                    {% endfor %}


                                </div>

                                <!-- Pagination -->
                                <nav class="clearfix pagination-bottom">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled"><a class="page-link" href="#"><i class="icon anm anm-angle-left-l"></i></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#"><i class="icon anm anm-angle-right-l"></i></a></li>
                                    </ul>
                                </nav>
                                <!-- FEnd Pagination -->
                            </div>
                            <!--End Product Grid-->
                        </div>
                        <!--End Products-->
                    </div>
                </div>
                <!--End Main Content-->
            </div>
            <!-- End Body Container -->


<script>



     document.querySelectorAll('.add_to_wishlist').forEach(function(button) {
    button.addEventListener('click', function(e) {
        e.preventDefault();

        var productId = this.getAttribute('data-product-id');
        var url = this.getAttribute('data-url');

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                product_id: productId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'add'
            },
            success: function(response) {
                // Handle the success, like updating the wishlist count or showing a message
                console.log('Product added to wishlist');
                location.reload();
            },
            error: function(xhr, errmsg, err) {
                // Handle the error
                console.error('An error occurred while adding the product to wishlist');
            }
        });
    });
});




    document.querySelectorAll('.add_to_cart_button').forEach(function(button) {
    button.addEventListener('click', function(e) {
        e.preventDefault();

        var productId = this.getAttribute('data-product-id');
        var url = this.getAttribute('data-url');

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                product_id: productId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'add'
            },
            success: function(response) {
                // Handle the success, like updating the cart count or showing a message
                console.log('Product added to cart');
                location.reload();
            },
            error: function(xhr, errmsg, err) {
                // Handle the error
                console.error('An error occurred while adding the product to cart');
            }
        });
    });
});



</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async></script>



{% endblock content %}