{% extends 'partials/base.html' %}

{% block marquee %}{% endblock marquee %}

{% block content %}

            <!-- Body Container -->
            <div id="page-content"> 
                <!--Page Header-->
                <div class="page-header text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center">
                                <div class="page-title"><h1>Transactions</h1></div>
                                <!--Breadcrumbs-->
                                <div class="breadcrumbs"><a href="{% url 'home' %}" title="Back to the home page">Home</a><span class="title"><i class="icon anm anm-angle-right-l"></i><a href="{% url 'exchange' %}" title="Back to the home page">Exchange</a></span><span class="title"><i class="icon anm anm-angle-right-l"></i>Transactions</span></div>
                                <!--End Breadcrumbs-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Page Header-->

                <!--Main Content-->
                <div class="container text-center">
                        <div class="row text-center">
                                <div class="inner h-100 text-center">

                                        <div class="row">
                                            {% include 'partials/messages.html' %}
                                            <table class="table">
                                              <thead>
                                                <tr>
                                                  <th scope="col">Reference ID</th>
                                                  <th scope="col">Amount(&#8358;)</th>
                                                  <th scope="col">Amount($)</th>
                                                  <th scope="col">Transaction Type</th>
                                                  <th scope="col">Status</th>
                                                  <th scope="col">View</th>
                                                </tr>
                                              </thead>
                                              <tbody>

                                                {% for transaction in transactions %}
                                                <tr>
                                                  <th scope="row">{{transaction.ref}}</th>
                                                  <td>&#8358;{{transaction.amount_in_ngn}}</td>
                                                  <td>${{transaction.amount_in_usd}}</td>
                                                  <td>{{transaction.trans_type}}</td>
                                                  <td>{{transaction.status}}</td>
                                                  <td><a href="" class="view"><i class="icon anm anm-eye btn-link fs-6"></i></a></td>
                                                </tr>
                                                {% endfor %}

                                              </tbody>
                                            </table>
                                        </div>

                                </div>
                        </div>

                </div>
                <!--End Main Content-->
            </div>
            <!-- End Body Container -->

        {% endblock content %}