{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}

{% block marquee %}{% endblock marquee %}

{% block content %}


            <!-- Body Container -->
            <div id="page-content">
                <!--Page Header-->
                <div class="page-header text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center">
                                <div class="page-title"><h1>Wishlist</h1></div>
                                <!--Breadcrumbs-->
                                <div class="breadcrumbs"><a href="{% url 'home' %}" title="Back to the home page">Home</a><span class="main-title"><i class="icon anm anm-angle-right-l"></i>Wishlist</span></div>
                                <!--End Breadcrumbs-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Page Header-->

                <!--Main Content-->
                <div class="container">     


                    <form action="#" method="post">
                        <div class="wishlist-table table-content table-responsive">
                            {% if wishlist_items %}
                            <table class="table align-middle text-nowrap table-bordered">
                                <thead class="thead-bg">
                                    <tr>
                                        <th class="product-name text-start"></th>
                                        <th class="product-name text-start" colspan="2">Product</th>
                                        <th class="product-price text-center">Price</th>
                                        <th class="stock-status text-center">Stock Status</th>
                                        <th class="product-subtotal text-center">Add to Cart</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in wishlist_items %}
                                    <tr>                                      
                                        <td class="product-thumbnail">

                                            <button data-url="{% url 'add-remove-from-wishlist' %}" data-product-id="{{ product.id }}" type="button" class="btn add_to_wishlist remove-icon close-btn position-static me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"><i class="icon anm anm-times-r"></i></button>

                                        </td>
                                        <td class="product-details">
                                            <a class="product-img" href="{% url 'product-detail' item.product_id %}"><img class="image rounded-0 blur-up lazyload" data-src="{{ item.product_image.url }}" src="{{ item.product_image.url }}" alt="Product" title="Product" width="120" height="170" /></a>

                                            <p class="product-name mb-0">{{ item.product_name }}</p>
                                        </td>
                                        <td class="product-price text-center"><span class="amount fw-500">

                                            {% if item.product.percentage_discount %}
                                                    <del><span class="money old-price">&#8358;{{item.product_price|floatformat:2|intcomma}}</span></del>  <span class="money">&#8358;{{item.product_discounted_price|floatformat:2|intcomma}}</span>
                                                {% else %}
                                                    <span class="money">&#8358;{{item.product_price|floatformat:2|intcomma}}</span>
                                                {% endif %}
                                        </span></td>
                                        <td class="product-stock text-center"><span class="text-in-stock">{{ item.product_availability }}</span></td>
                                        <td class="product-action text-center">
                                            <button type="button" class="btn btn-secondary text-nowrap" data-bs-toggle="modal" data-bs-target="#quickshop_modal">Select Options</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <h3>There are no products in your wishlist</h3>
                            {% endif %}
                        </div>
                    </form>
                    <!--End Wishlist Form-->
                </div>
                <!--End Main Content-->
            </div>
            <!-- End Body Container -->


<script>



     document.querySelectorAll('.add_to_wishlist').forEach(function(button) {
    button.addEventListener('click', function(e) {
        e.preventDefault();

        var productId = this.getAttribute('data-product-id');
        var url = this.getAttribute('data-url');

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                product_id: productId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'add'
            },
            success: function(response) {
                // Handle the success, like updating the wishlist count or showing a message
                console.log('Product added to wishlist');
                location.reload();
            },
            error: function(xhr, errmsg, err) {
                // Handle the error
                console.error('An error occurred while adding the product to wishlist');
            }
        });
    });
});


</script>

{% endblock content %}